/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
    GENERAL
*/
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.flex-container {
    display: flex;
}

/* HEADER */
header div.container {}

header {
    background-color: aquamarine;
}

nav.flex-container {
    /* line-height per debug */
    line-height: 50px;
    align-items: center;
}

.nav-bar {
    text-align: center;
}

.login-button {
    text-align: end;
}

/* MAIN */
.item-25 {
    width: 25%;
}

.item-50 {
    width: 50%;
}

.hero-image {
    width: 70%;
    margin: 0 auto;
}

.first-section aside {
    width: 65%;
}

.first-section div {
    width: 35%;
}

.second-section aside {
    width: 65%;
    order: 1;
}

.second-section div {
    width: 35%;
}



/* DEBUG */
.debug nav>* {
    background-color: red;
    min-height: 50px;
    border: 2px dashed blue;

}

.debug header {
    background-color: lightcoral;
    min-height: 50px;
}

.debug .hero-image {
    background-color: greenyellow;
    border: 2px dashed purple;
    min-height: 300px;
}

.debug header .container.sub-section {
    background-color: blue;
    min-height: 100px;
}

.debug .first-section>aside {
    background-color: green;
    min-height: 300px;
}

.debug .first-section div {
    background-color: gold;
    min-height: 300px;
}

.debug .bg-dark {
    background-color: blueviolet;
}

.debug .bg-light {
    background-color: papayawhip;
}

.debug .flex-container.first-section {
    background-color: brown;
}

.debug .second-section>aside {
    background-color: green;
    min-height: 300px;
}

.debug .second-section div {
    background-color: gold;
    min-height: 300px;
}

.debug .flex-container.second-section {
    background-color: lightblue;
}